
.navbar-default {
	background-color: white !important;
	border-bottom: white !important /*2px solid black !important;*/
}

/* li a:hover,*/
/*.navbar-nav >*/
.navbar-default li a:hover, .navbar-nav > .active > a {
  border-bottom: 3px solid #fcc201 !important;
  background-color: white !important;
}

.sidebar-default {
	border:1px solid black !important;
}

.sidebar-default .active {
  border-top: 3px solid #fcc201 !important;
  background-color: white !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.box{
  border-radius: 1.6em;
  border: 2px solid;
}
*/

/* undefined label style */
.undefined {
  background-color: #000000;
  color: white;
}

body {
  background-color: #FFF;
}

 /* Style the headers */
h1 {
  font-family: 'times', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #016BA7;
}

h3 {
  font-family: 'times', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #018CC9;
}

h4 {
  font-family: 'times', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #01A3E2;
}

 /* Style the horizontal bars */
hr {
	border: 3px solid;
	background-color: black;
}
/* Dashed black border */
hr.alt {
  border-top: 1px dashed black;
}

 /* Style the paragraphs */
p {
	font-family: 'times';
	font-size: 18px;
}

/* Styles the Notes */
.info {
  background-color: #e7f3fe;
}

.warning {
  background-color: #f9f0e4;
  border: 0.6px solid #f9f0e4;
}

 /* Set the colors of the icons */
.fa-home{
	color: #8F6F19;
}

.fa-file-download{
	color: #ACAB2E;
}

.fa-search{
	color: black;
}

.fa-layer-group{
	color: #97B1B0;
}

.fa-play{
	color: #018CC9;
}

.fa-eraser{
	color: #DA2103;
}

.fa-edit{
	color: #DA2103
}

.fa-leaf{
	color: #1F6D04;
}

.fa-chart-bar{
	color: #FD9F0F;
}

.fa-globe-africa{
	color: #01A3E2;
}

.fa-check{
	color: #1F6D04;
}

.fa-refresh{
	color: #DA2103;
}

/*
.fa-trash-alt{
  color: #DA2103;
}
*/
 /* Style the buttons
.btn-actn {
	background-color: white;
	border:1px solid black
}
 */
